.form-control {
  display: block;
  width: 100%;
  max-width: 300px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-gray-500);
  background-color: var(--color-light);
  background-clip: padding-box;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: var(--color-gray-500);
  background-color: var(--color-light);
  border-color: var(--color-primary);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(247, 110, 110, 0.25);
}
